.button-toggle {
    cursor: default;

    border: solid 1px var(--color-base-700);
    background: transparent;
    border-radius: var(--border-radius-toggle);

    transition: color, background, border, 150ms linear;

    svg{ 
        fill: none;
        stroke: currentColor;
    }

    &:hover{
        color: var(--color-base-100);
        background-color: var(--color-base-700);
    }

    &[data-active="true"]{
        background-color: var(--color-brand-primary-500);
        border-color: var(--color-brand-primary-500);
    }

    &[data-size="1"] {
        min-height: var(--size-height-input-medium);
        min-width: calc(2 * var(--size-height-input-medium));
        padding: var(--unit-l) var(--unit-2xl);
    }

    &[data-size="2"] {
        min-height: var(--size-height-input-small);
        min-width: calc(2 * var(--size-height-input-small));
        padding: var(--unit-m) var(--unit-l);
    }
}