.module-input {
  background: transparent;
  border: solid 1px var(--color-base-500);
  color: var(--color-base-50);
  padding: var(--unit-s) var(--unit-m) var(--unit-s) var(--unit-m);
  border-radius: var(--border-radius-input);
}
