.home{

    &-header{
        min-height: 320px;
        background-color: var(--color-brand-base-800);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/hero_visual.webp');
    }
}