.embed-module {
  &-iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border: none;
    overflow: hidden;
    flex-shrink: 1;
  }

  &-header {
    z-index: 1;
  }

  &-frame {
    position: relative;
  }

  &-settings {
    position: relative;
    .module-input-section {
      position: absolute;
      width: max-content;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--space-extra-large);
      margin-top: var(--space-medium);
      border-radius: var(--unit-s);
      padding: var(--space-medium) var(--space-extra-large) var(--space-extra-large-2)
               var(--space-extra-large);

    }
  }
}
