.embed-module {

    &-frames-container{
	display:grid;
	gap: var(--space-extra-large-6) var(--space-extra-large-4);


	/* If container has 2 or more children → 2 columns */
	&:has(> :nth-child(2)) {
	    grid-template-columns: repeat(2, 1fr);
	}

	/* If only 1 child → full width (1 column) */
	&:not(:has(> :nth-child(2))) {
	    grid-template-columns: 1fr;
	}
	
    }
    
    &-iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border: none;
    overflow: hidden;
    flex-shrink: 1;
  }

  &-header {
      z-index: 1;

      &-title{
	  display: flex;
	  flex-direction:row;
	  gap: var(--space-medium);
	  align-items: center;
	  cursor:pointer;
	  transition: color, fill, stroke, 150ms linear;
	  &:hover{
	      color: var(--color-brand-primary-500);
	  }
	  
      }
  }

  &-frame {
    position: relative;
  }

  &-settings {
    position: relative;
    .module-input-section {
      position: absolute;
      width: max-content;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--space-extra-large);
      margin-top: var(--space-medium);
      border-radius: var(--unit-s);
      padding: var(--space-medium) var(--space-extra-large) var(--space-extra-large-2)
               var(--space-extra-large);

    }
  }
}
