:root {

    /* Color variables*/
    --color-brand-primary-50: #fcf0f7;
    --color-brand-primary-100: #fce3f1;
    --color-brand-primary-200: #f7bad7;
    --color-brand-primary-300: #f090b8;
    --color-brand-primary-400: #e64572;
    --color-brand-primary-500: #dc0023;
    --color-brand-primary-600: #c40021;
    --color-brand-primary-700: #a30018;
    --color-brand-primary-800: #850012;
    --color-brand-primary-900: #63000c;
    --color-brand-primary-950: #400006;

    --color-brand-secondary-50: #f5f8fa;
    --color-brand-secondary-100: #ebf1f5;
    --color-brand-secondary-200: #cfdce6;
    --color-brand-secondary-300: #b4c6d6;
    --color-brand-secondary-400: #8298b8;
    --color-brand-secondary-500: #5b6e9a;
    --color-brand-secondary-600: #495b8a;
    --color-brand-secondary-700: #324473;
    --color-brand-secondary-800: #202e5c;
    --color-brand-secondary-900: #131d45;
    --color-brand-secondary-950: #070f2b;

    --color-brand-base-50: #f4f6f6;
    --color-brand-base-100: #e8ebec;
    --color-brand-base-200: #c8ced1;
    --color-brand-base-300: #aab3b7;
    --color-brand-base-400: #7f8b94;
    --color-brand-base-500: #555f68;
    --color-brand-base-600: #3e454e;
    --color-brand-base-700: #2b3035;
    --color-brand-base-800: #1e2226;
    --color-brand-base-900: #15171b;
    --color-brand-base-950: #0c0e11;
    --color-brand-base-25: #f6f8f9;
    --color-brand-base-0: #ffffff;

    --color-states-warning-50: #fffef2;
    --color-states-warning-100: #fcfae6;
    --color-states-warning-200: #faf2be;
    --color-states-warning-300: #f7e999;
    --color-states-warning-400: #f2d552;
    --color-states-warning-500: #edbd0c;
    --color-states-warning-600: #d6a30b;
    --color-states-warning-700: #b37c07;
    --color-states-warning-800: #8f5c04;
    --color-states-warning-900: #6b3e02;
    --color-states-warning-950: #452301;

    --color-states-error-50: #fcf6f0;
    --color-states-error-100: #f7ebe1;
    --color-states-error-200: #f0ceb9;
    --color-states-error-300: #e6ac93;
    --color-states-error-400: #d15f4b;
    --color-states-error-500: #bc1010;
    --color-states-error-600: #ab0e0e;
    --color-states-error-700: #8c0a0a;
    --color-states-error-800: #700606;
    --color-states-error-900: #540303;
    --color-states-error-950: #360202;

    --color-states-information-50: #fafeff;
    --color-states-information-100: #f2fafc;
    --color-states-information-200: #e3f3fa;
    --color-states-information-300: #d0e7f5;
    --color-states-information-400: #b1d5f0;
    --color-states-information-500: #92bbe8;
    --color-states-information-600: #77a1d1;
    --color-states-information-700: #5178ad;
    --color-states-information-800: #35578c;
    --color-states-information-900: #1d3869;
    --color-states-information-950: #0c1d42;

    --color-states-success-50: #f2fcf8;
    --color-states-success-100: #e6f7f0;
    --color-states-success-200: #c2f0d8;
    --color-states-success-300: #a1e6bd;
    --color-states-success-400: #64d185;
    --color-states-success-500: #2fbc46;
    --color-states-success-600: #27ab3d;
    --color-states-success-700: #1b8c2c;
    --color-states-success-800: #11701e;
    --color-states-success-900: #095412;
    --color-states-success-950: #043609;

    --color-background: var(--color-brand-base-900);

    --color-text-primary: var(--color-brand-base-100);
    --color-text-secondary: var(--color-brand-base-200);
    --color-text-tertiary: var(--color-brand-base-400);

}