:root {

    /* Variables used by text styles */
    --font-heading-heading-1-letter-spacing: -1.5px;
    --font-heading-heading-1-size: 96px;
    --font-heading-heading-1-style: 300;
    --font-heading-heading-1-line-height: 90px;
    --font-heading-heading-1-family: var(--font-heading-family);

    --font-heading-heading-2-letter-spacing: -0.5px;
    --font-heading-heading-2-size: 60px;
    --font-heading-heading-2-style: 300;
    --font-heading-heading-2-line-height: 66px;
    --font-heading-heading-2-family: var(--font-heading-family);

    --font-heading-heading-3-letter-spacing: 0px;
    --font-heading-heading-3-size: 48px;
    --font-heading-heading-3-style: 400;
    --font-heading-heading-3-family: var(--font-heading-family);

    --font-heading-heading-4-letter-spacing: 0.25px;
    --font-heading-heading-4-size: 34px;
    --font-heading-heading-4-family: var(--font-heading-family);

    --font-heading-heading-5-letter-spacing: 0px;
    --font-heading-heading-5-size: 24px;
    --font-heading-heading-5-style: 400;
    --font-heading-heading-5-family: var(--font-heading-family);

    --font-heading-heading-6-letter-spacing: 0.15px;
    --font-heading-heading-6-size: 20px;
    --font-heading-heading-6-style: 500;
    --font-heading-heading-6-family: var(--font-heading-family);

    --font-heading-subtitle-1-letter-spacing: 0.15px;
    --font-heading-subtitle-1-size: 16px;
    --font-heading-subtitle-1-style: 400;
    --font-heading-subtitle-1-family: var(--font-heading-family);

    --font-heading-subtitle-2-letter-spacing: 0.1px;
    --font-heading-subtitle-2-size: 14px;
    --font-heading-subtitle-2-family: var(--font-heading-family);

    --font-body-body-1-letter-spacing: 0.5px;
    --font-body-body-1-size: 16px;
    --font-body-body-1-style: 400;
    --font-body-body-1-family: var(--font-body-family);

    --font-body-body-2-letter-spacing: 0.25px;
    --font-body-body-2-size: 14px;
    --font-body-body-2-style: 400;
    --font-body-body-2-family: var(--font-body-family);

    --font-body-caption-letter-spacing: 0.4px;
    --font-body-caption-size: 12px;
    --font-body-caption-style: 400;
    --font-body-caption-family: var(--font-body-family);

    --font-body-footnote-letter-spacing: 0.4px;
    --font-body-footnote-size: 11px;
    --font-body-footnote-style: 500;
    --font-body-footnote-family: var(--font-body-family);

    --font-body-overline-letter-spacing: 1.5px;
    --font-body-overline-size: 10px;
    --font-body-overline-style: 500;
    --font-body-overline-family: var(--font-body-family);

    --font-body-label-letter-spacing: 1.25px;
    --font-body-label-size-large: 16px;
    --font-body-label-style: Semibold;
    --font-body-label-family: var(--font-body-family);

    --font-body-label-size-medium: 14px;

    --font-body-label-size-small: 11px;
}