:root {
    /* Other variables*/
    --unit-xl: 16px;
    --unit-s: 4px;
    --unit-l: 12px;
    --unit-4xl: 48px;
    --unit-7xl: 128px;
    --unit-xs: 2px;
    --unit-m: 8px;
    --unit-6xl: 96px;
    --unit-2xl: 20px;
    --unit-5xl: 64px;
    --unit-3xl: 32px;
    --size-margin-tablet: 52px;
    --size-width-desktop: 1440px;
    --size-width-tablet: 768px;
    --size-width-mobile: 360px;
    --unit-inf: 9999px;
    --size-height-input-medium: 46px;
    --size-height-input-small: 32px;
    --size-margin-mobile: 20px;
    --size-height-input-large: 52px;
    --border-width-input: 1px;
    --size-icon-medium: 24px;
    --border-width-icon: 1px;
    --size-height-tag: 24px;
    --font-heading-heading-4-style: 400;
    --font-heading-subtitle-2-style: 500;
    --font-heading-family: Open Sans;
    --font-body-family: Open Sans;
    --border-width-button: 1px;
    --border-width-toggle: 1px;
    --border-radius-card: var(--unit-m);
    --border-radius-input: var(--unit-m);
    --border-radius-tag: var(--unit-s);
    --border-radius-search-bar: var(--unit-l);
    --border-radius-switch: var(--unit-inf);
    --size-icon-small: var(--unit-xl);
    --size-icon-large: var(--unit-4xl);
    --space-extra-small: var(--unit-xs);
    --space-small: var(--unit-s);
    --space-medium: var(--unit-m);
    --space-large: var(--unit-l);
    --space-extra-large: var(--unit-xl);
    --space-extra-large-2: var(--unit-2xl);
    --space-extra-large-3: var(--unit-3xl);
    --space-extra-large-4: var(--unit-4xl);
    --space-extra-large-5: var(--unit-5xl);
    --space-extra-large-6: var(--unit-6xl);
    --space-extra-large-7: var(--unit-7xl);
    --border-radius-button: var(--unit-inf);
    --border-radius-toggle: var(--unit-s);
}