/* Text styles classes */
h1, .heading-1{
	font-weight: var(--font-heading-heading-1-style);
	font-size: var(--font-heading-heading-1-size);
	letter-spacing: var(--font-heading-heading-1-letter-spacing);
	line-height: var(--font-heading-heading-1-line-height);
	font-family: var(--font-heading-heading-1-family);
	font-style: var(--font-heading-heading-1-style);
}

h2, .heading-2{
	font-weight: var(--font-heading-heading-2-style);
	font-size: var(--font-heading-heading-2-size);
	letter-spacing: var(--font-heading-heading-2-letter-spacing);
	line-height: var(--font-heading-heading-2-line-height);
	font-family: var(--font-heading-heading-2-family);
	font-style: var(--font-heading-heading-2-style);
}

h3, .heading-3{
	font-weight: var(--font-heading-heading-3-style);
	font-size: var(--font-heading-heading-3-size);
	letter-spacing: var(--font-heading-heading-3-letter-spacing);
	line-height: normal;
	font-family: var(--font-heading-heading-3-family);
	font-style: var(--font-heading-heading-3-style);
}

h4, .heading-4{
	font-weight: var(--font-heading-heading-3-style);
	font-size: var(--font-heading-heading-4-size);
	letter-spacing: var(--font-heading-heading-4-letter-spacing);
	line-height: normal;
	font-family: var(--font-heading-heading-4-family);
	font-style: var(--font-heading-heading-3-style);
}

h5, .heading-5{
	font-weight: var(--font-heading-heading-5-style);
	font-size: var(--font-heading-heading-5-size);
	letter-spacing: var(--font-heading-heading-5-letter-spacing);
	line-height: normal;
	font-family: var(--font-heading-heading-5-family);
	font-style: var(--font-heading-heading-5-style);
}

h6, .heading-6{
	font-weight: var(--font-heading-heading-6-style);
	font-size: var(--font-heading-heading-6-size);
	letter-spacing: var(--font-heading-heading-6-letter-spacing);
	line-height: normal;
	font-family: var(--font-heading-heading-6-family);
	font-style: var(--font-heading-heading-6-style);
}

.subtitle-1{
	font-weight: var(--font-heading-subtitle-1-style);
	font-size: var(--font-heading-subtitle-1-size);
	letter-spacing: var(--font-heading-subtitle-1-letter-spacing);
	line-height: normal;
	font-family: var(--font-heading-subtitle-1-family);
	font-style: var(--font-heading-subtitle-1-style);
}

.subtitle-2{
	font-weight: var(--font-heading-heading-1-style);
	font-size: var(--font-heading-subtitle-2-size);
	letter-spacing: var(--font-heading-subtitle-2-letter-spacing);
	line-height: normal;
	font-family: var(--font-heading-subtitle-2-family);
	font-style: var(--font-heading-heading-1-style);
}

p, .body-1-regular{
	font-weight: var(--font-body-body-1-style);
	font-size: var(--font-body-body-1-size);
	letter-spacing: var(--font-body-body-1-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-body-1-family);
	font-style: var(--font-body-body-1-style);
}

.body-1-italic{
	font-weight: Italic;
	font-size: var(--font-body-body-1-size);
	letter-spacing: var(--font-body-body-1-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-body-1-family);
	font-style: italic;
}

.body-1-strong{
	font-weight: var(--font-body-body-1-style);
	font-size: var(--font-body-body-1-size);
	letter-spacing: var(--font-body-body-1-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-body-1-family);
	font-style: var(--font-body-body-1-style);
}

.body-1-strong-underline{
	font-weight: var(--font-body-body-1-style);
	font-size: var(--font-body-body-1-size);
	letter-spacing: var(--font-body-body-1-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-body-1-family);
	font-style: var(--font-body-body-1-style);
}

.body-1-underline{
	font-weight: var(--font-body-body-1-style);
	font-size: var(--font-body-body-1-size);
	letter-spacing: var(--font-body-body-1-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-body-1-family);
	font-style: var(--font-body-body-1-style);
}

.body-1-delete{
	font-weight: var(--font-body-body-1-style);
	font-size: var(--font-body-body-1-size);
	letter-spacing: var(--font-body-body-1-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-body-1-family);
	font-style: var(--font-body-body-1-style);
}

.body-2-regular{
	font-weight: var(--font-body-body-2-style);
	font-size: var(--font-body-body-2-size);
	letter-spacing: var(--font-body-body-2-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-body-2-family);
	font-style: var(--font-body-body-2-style);
}

.body-2-italic{
	font-weight: Italic;
	font-size: var(--font-body-body-2-size);
	letter-spacing: var(--font-body-body-2-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-body-2-family);
	font-style: italic;
}

.body-2-strong{
	font-weight: var(--font-body-body-2-style);
	font-size: var(--font-body-body-2-size);
	letter-spacing: var(--font-body-body-2-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-body-2-family);
	font-style: var(--font-body-body-2-style);
}

.body-2-strong-underline{
	font-weight: 700;
	font-size: var(--font-body-body-2-size);
	letter-spacing: var(--font-body-body-2-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-body-2-family);
	font-style: normal;
}

.body-2-underline{
	font-weight: var(--font-body-body-2-style);
	font-size: var(--font-body-body-2-size);
	letter-spacing: var(--font-body-body-2-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-body-2-family);
	font-style: var(--font-body-body-2-style);
}

.body-2-delete{
	font-weight: var(--font-body-body-2-style);
	font-size: var(--font-body-body-2-size);
	letter-spacing: var(--font-body-body-2-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-body-2-family);
	font-style: var(--font-body-body-2-style);
}

.caption-regular{
	font-weight: var(--font-body-caption-style);
	font-size: var(--font-body-caption-size);
	letter-spacing: var(--font-body-caption-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-caption-family);
	font-style: var(--font-body-caption-style);
}

.caption-italic{
	font-weight: Italic;
	font-size: var(--font-body-caption-size);
	letter-spacing: var(--font-body-caption-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-caption-family);
	font-style: italic;
}

.caption-underline{
	font-weight: 400;
	font-size: var(--font-body-caption-size);
	letter-spacing: var(--font-body-caption-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-caption-family);
	font-style: normal;
}

.caption-strong{
	font-weight: 700;
	font-size: var(--font-body-caption-size);
	letter-spacing: var(--font-body-caption-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-caption-family);
	font-style: normal;
}

.caption-strong-underline{
	font-weight: 700;
	font-size: var(--font-body-caption-size);
	letter-spacing: var(--font-body-caption-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-caption-family);
	font-style: normal;
}

.caption-delete{
	font-weight: 400;
	font-size: var(--font-body-caption-size);
	letter-spacing: var(--font-body-caption-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-caption-family);
	font-style: normal;
}

.footnote-regular{
	font-weight: var(--font-body-footnote-style);
	font-size: var(--font-body-footnote-size);
	letter-spacing: var(--font-body-footnote-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-footnote-family);
	font-style: var(--font-body-footnote-style);
}

.footnote-italic{
	font-weight: Italic;
	font-size: var(--font-body-footnote-size);
	letter-spacing: var(--font-body-footnote-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-footnote-family);
	font-style: italic;
}

.footnote-strong{
	font-weight: 700;
	font-size: var(--font-body-footnote-size);
	letter-spacing: var(--font-body-footnote-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-footnote-family);
	font-style: normal;
}

.footnote-strong-underline{
	font-weight: 700;
	font-size: var(--font-body-footnote-size);
	letter-spacing: var(--font-body-footnote-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-footnote-family);
	font-style: normal;
}

.footnote-underline{
	font-weight: 400;
	font-size: var(--font-body-footnote-size);
	letter-spacing: var(--font-body-footnote-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-footnote-family);
	font-style: normal;
}

.footnote-delete{
	font-weight: var(--font-body-footnote-style);
	font-size: var(--font-body-footnote-size);
	letter-spacing: var(--font-body-footnote-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-footnote-family);
	font-style: var(--font-body-footnote-style);
}

.overline-regular{
	font-weight: var(--font-body-overline-style);
	font-size: var(--font-body-overline-size);
	letter-spacing: var(--font-body-overline-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-overline-family);
	font-style: var(--font-body-overline-style);
}

.label-1{
	font-weight: var(--font-body-label-style);
	font-size: var(--font-body-label-size-large);
	letter-spacing: var(--font-body-label-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-label-family);
	font-style: var(--font-body-label-style);
}

.label-2{
	font-weight: var(--font-body-label-style);
	font-size: var(--font-body-label-size-medium);
	letter-spacing: var(--font-body-label-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-label-family);
	font-style: var(--font-body-label-style);
}

.label-3{
	font-weight: var(--font-body-label-style);
	font-size: var(--font-body-label-size-small);
	letter-spacing: var(--font-body-label-letter-spacing);
	line-height: normal;
	font-family: var(--font-body-label-family);
	font-style: var(--font-body-label-style);
}
