.shadow {
  &-low {
    box-shadow:
      0px 5px 7px rgba(0, 0, 0, 0.04),
      0px 3.24074px 4.09954px rgba(0, 0, 0, 0.0303704),
      0px 1.92593px 2.22963px rgba(0, 0, 0, 0.0242963),
      0px 1px 1.1375px rgba(0, 0, 0, 0.02),
      0px 0.407407px 0.57037px rgba(0, 0, 0, 0.0157037),
      0px 0.0925926px 0.275463px rgba(0, 0, 0, 0.00962963);
  }

  &-medium {
    box-shadow:
      0px 10px 29px rgba(0, 0, 0, 0.05),
      0px 6.48148px 16.9838px rgba(0, 0, 0, 0.037963),
      0px 3.85185px 9.23704px rgba(0, 0, 0, 0.0303704),
      0px 2px 4.7125px rgba(0, 0, 0, 0.025),
      0px 0.814815px 2.36296px rgba(0, 0, 0, 0.0196296),
      0px 0.185185px 1.1412px rgba(0, 0, 0, 0.012037);
  }

  &-high {
    box-shadow:
      0px 19px 33px rgba(0, 0, 0, 0.06),
      0px 12.3148px 19.3264px rgba(0, 0, 0, 0.0455556),
      0px 7.31852px 10.5111px rgba(0, 0, 0, 0.0364444),
      0px 3.8px 5.3625px rgba(0, 0, 0, 0.03),
      0px 1.54815px 2.68889px rgba(0, 0, 0, 0.0235556),
      0px 0.351852px 1.29861px rgba(0, 0, 0, 0.0144444);
  }
}
