.sidepanel {

    background-color: var(--color-brand-base-800);
    border: solid 1px var(--color-brand-base-700);
    position: fixed;
    height: calc( 100vh - 2 * var(--unit-2xl) );
    margin: var(--unit-2xl);
    width: 300px;

    header {
        svg {
            width: 120px;
        }
    }

    ul {
        list-style: none;
    }

    &-item {

        background-color: transparent;
        transition: background 150ms linear;

        &:hover {
            background-color: var(--color-brand-base-700);
        }

        &:active {
            background-color: var(--color-brand-base-500);
        }


        svg {
            fill: transparent;
            stroke: currentColor;
        }

    }

}